:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  margin: 0;
}

.App {
  max-width: 550px;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 15px 0 5px 0;
  
  color: #2B283A;
}

nav {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 8px;
}

.card--body {
  margin: 20px 40px;
  display: flex;
  gap: 19px;
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 18px;
}

.card--body:last-of-type {
  border: none;
}

.card--info_location {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
}

.card--info_location p {
  margin: 0 10px 0 3px;
  letter-spacing: 0.17em;
  color: #2B283A;
}

.card--info_location a {
  text-decoration-line: underline;
  color: #918E9B;
}

.card--info_date {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  
  color: #2B283A;
}

.card--info_description {
  font-size: 10px;
  line-height: 150%;
}

.card--info_country {
  text-transform: uppercase;
}

.card--img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}